<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cloudeasy.dao.CityMapper">
  <resultMap id="BaseResultMap" type="com.cloudeasy.model.City">
    <constructor>
      <idArg column="id"  javaType="java.lang.Integer" jdbcType="INTEGER" />
      <arg column="cityID" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="city" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="father" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
   	 id, cityID, city,father
  </sql>
  
 
	  	
	<!-- 查询城市列表 -->
	<select id="queryByList" parameterType="com.cloudeasy.model.City" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List" />
		from hat_city where 1=1 
		<if test="father != null and father != ''">
	    	and father = #{father}
		</if>
	</select>
</mapper>